[Unit]
Description=My server
[Service]
ExecStart=~/price-parser/shell/server.sh
WorkingDirectory=~/price-parser/
[Install]
WantedBy=multi-user.target
