[Unit]
Description=My server
[Service]
ExecStart=/root/price-parser/shell/server.sh
WorkingDirectory=/root/price-parser/
[Install]
WantedBy=multi-user.target
